@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    transition: 1s;
}

body {
    background: #68b0ab;
    /* background: url('../assets/img/bg.jpg'); */
    /* background: url('https://cdn2.tstatic.net/jakarta/foto/bank/images/dekorasi-rumah323.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    margin-bottom: 50px;
    background: #8fc0a9;
}

header h1 {
    text-align: center;
    font-size: 7vh;
    font-family: 'Bubblegum Sans', cursive;
    display: inline;
}

header h2  {
    margin-left: 30px;
    text-align: center;
    font-size: 5vh;
    font-family: 'Bubblegum Sans', cursive;
    display: inline;
}

h2 span {
    padding: 0 2rem;
    background-color: #c8d5b9;
    border-radius: 2rem;
}

.container {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
    transition: 1s;
}

.container p {
    font-size: 3rem;
    font-family: 'Bubblegum Sans', cursive;
    padding-bottom: 10px;
}

.wrapper {
    display: inline-block;
}

button:hover, a:hover {
    transition: .5s;
    transform: scale(1.1);
}

button.startGame {
    background: #c8d5b9;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    transition: 0.5s;
    
    font-family: sans-serif;
    font-size: medium;
}

button.startGame:hover {
    transform: scale(1.1);
}

button:active {
    transition: 1s;
    transform: scale(0.5);
}

span.space {
    display: inline-block;
    width: 2rem;
}

header button {
    padding: 10px 20px;
    outline: none;
    border: none;
}

.nav {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    background: hotpink;
    border-radius: 10px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

/* #tikus {
    
}

#bola {
    
}

#kelinci {
    
} */

#game {
    margin: auto;
    width: 500px;
    height: 500px;
    /* background: hotpink; */
    display: flex;
    flex-wrap: wrap;
    transition: 1s;
}

.lubang {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
    background: #1a1a2e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 20px;
    border-radius: 50%;
    border: 5pt solid teal;
}

.gameBlur:hover .lubang {
    filter: blur(10px);
}

.gameBlur .lubang:hover {
    filter: blur(0px);
}

.lubang:hover {
    transform: scale(1.1);
    filter: blur(0px);
    transition: .3s;
}


.lubang:after {
    display: block;
    background: #1a1a2e;
    /* background: linear-gradient(180deg, rgba(222,121,64,1) 0%, rgba(220,211,182,1) 17%, rgba(222,121,64,1) 81%, rgba(222,121,64,1) 100%); */
    background-position: bottom;
    background-repeat: no-repeat;
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 1;
    bottom: -30px;
    transition: 2s;
}

.tikus {
    /* background: pink; */
    background: url(../assets/img/tikus.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%; /* terhiden - melebihi batas*/
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

/* .bola {
    background: blue;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.kelinci {
    background: yellow;
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: 0.3s;
} */


.lubang.up .tikus {
    top: 0;    /*muncul keatas*/
    z-index: 1;
}

.scaleUp {
    transition: .5s;
    transform: scale(0.8);
}